---
---
!!!
%html{ :lang => 'en' }
  = render "_header"
  %body
    .wrapper
      = render "_title"
      %section
        %h1
          = "#{@item[:title]}"
        = yield
      = render "_footer"
    = google_analytics @site.config[:site][:analytics_token]
-# Uncomment these lines after filling in the urls
-#     = render "_disqus"
